# 忽略 Obsidian 配置目录
/.obsidian/

# 忽略所有 dataset 目录下的 .jsonl 文件
**/dataset/**/*.jsonl
**/dataset/**/*.json

# 忽略所有 unsloth_compiled_cache 目录
unsloth_compiled_cache/
*.lock
Unsloth*Trainer.py

# 忽略 models目录
/models

# 忽略 lora_model 目录
/lora_model

# 忽略 gguf_output 目录
/gguf_output

# 忽略 outputs 目录
/outputs

# 忽略 log 目录
/log/

# 忽略 merged_16bit_model 目录
/merged_16bit_model

# 忽略 gguf 目录
/gguf/

# 忽略 llama.cpp 目录
/llama.cpp/

# 忽略所有 .gguf 文件
*.gguf

# 忽略所有模型权重文件
*.safetensors
*.bin
*.pt
*.pth